

* {
    margin:0;
    padding: 0;
    box-sizing: 0;
}
body {
    background:rgb(27, 27, 27);
    color:white;
    text-align: c;
}
.content {


    padding-bottom: 10px;
 
    
    

}
main {
    text-align:center;
    display:flex;
    justify-content: center;
    margin-top: 10px;
}
.stats-holder {

    display: flex;
    justify-content: center;
}

.stats {

    width: 120px;
    display: flex;
    justify-content: space-around;

}

.score-number {
    font-size: smaller;
}
.line-number {
    font-size: smaller;
}

.grid-holder {

    display:flex;
    justify-content: center;

}
.grid-prototype {
    border: 4px solid white;
    height:500px;
    width:250px;
    text-align: center;
    line-height: 500px;
}

.bottom-container {

    display: flex;

    justify-content: center;
}

.grid-buttons {

    display: flex;
    width:250px;

    justify-content: space-between;
}
.small-grid {
    width:60px;


    height:40px;
    background:white;
    
}

.iTetromino-image{
    position: relative;
    top:10px;
    display: none;
}

.zTetromino-image {
    position:relative;
    top:10px;
    display:none;

}

.sTetromino-image {
    position:relative;
    top:10px;
    display:none;
}

.tTetromino-image {
    position:relative;
    top:10px;
    display:none;
}
.jTetromino-image {
    position:relative;
    top: 10px;
    display:none
    
}
.oTetromino-image {
    position:relative;
    top: 10px;
    display:none;
    
}

.lTetromino-image {
    position:relative;
    top: 10px;
    display: none;
    
}








.bottom-container {
    margin-top: 10px;

}




@media only screen and (max-width: 320px){
    .grid-prototype {
        height:250px;
        width: 125px;
        line-height: 250px;
    }

    .grid-buttons {
        width:125px;
        flex-wrap: wrap;
 
    }
    .buttons {
        width: 125px;

        justify-content:space-around ;
        display: flex;
    }

    
}


@media only screen and (min-width: 600px){
    .content {
        display:flex
    }
    

    
}