

* {
    margin:0;
    padding: 0;
    box-sizing: 0;
}
body {
    background:rgb(27, 27, 27);
    color:white;

    font-family: 'Electrolize', sans-serif;

}
.content {


    padding-bottom: 10px;
 
    
    

}
main {
    text-align:center;
    display:flex;
    justify-content: center;
    margin-top: 10px;
}
.stats-holder {

    display: flex;
    justify-content: center;
}

.stats {

    width: 120px;
    display: flex;
    justify-content: space-around;

}

.score-number {
    font-size: smaller;
}
.line-number {
    font-size: smaller;
}

.grid-holder {

    display:flex;
    justify-content: center;

}
.grid {
    position: relative;
    border: 4px solid white;
    height:500px;
    width:250px;
    text-align: center;
    line-height: 500px;
}

.bottom-container {

    display: flex;

    justify-content: center;
}

.mode-text{
    display: none;
    cursor: pointer;
}

.pause , .quit {
    cursor: pointer;
}
.grid-buttons {

    display: flex;
    width:250px;

    justify-content: space-between;
}
.small-grid {
    width:60px;


    height:40px;
    background:white;
    
}

.iTetromino-image{
    position: relative;
    top:10px;
    display: none;
}

.zTetromino-image {
    position:relative;
    top:10px;
    display:none;

}

.sTetromino-image {
    position:relative;
    top:10px;
    display:none;
}

.tTetromino-image {
    position:relative;
    top:10px;
    display:none;
}
.jTetromino-image {
    position:relative;
    top: 10px;
    display:none
    
}
.oTetromino-image {
    position:relative;
    top: 10px;
    display:none;
    
}

.lTetromino-image {
    position:relative;
    top: 10px;
    display: block;
    
}








.bottom-container {
    margin-top: 10px;

}

.zTetromino {
    background:green;
    display:flex

}





.tr {
    background:green
}



@media only screen and (max-width: 320px){
    .grid{
        height:250px;
        width: 125px;
        line-height: 250px;
    }

    .grid-buttons {
        width:125px;
        flex-wrap: wrap;
 
    }
    .buttons {
        width: 125px;

        justify-content:space-around ;
        display: flex;
    }

    
}


@media only screen and (min-width: 600px){
    .content {
     
        display:flex;
        
    }
    .grid-buttons {
     
        display: flex;
        flex-direction: column;
        width:200px;
        align-items: center;
       
        margin-left: 30px;

    }
    .stats {
        
        width:200px;
        justify-content: space-around;
        
        flex-direction: row;
        font-size: larger;

    }
    .buttons{
        display: flex;
        width:200px;
        justify-content: space-around;
    }
    .small-grid {
        width:120px;
        height:80px;
    }

    .iTetromino-image{
        position: relative;
        top:20px;
        display: none;
        width:120px
    }
    
    .zTetromino-image {
        position:relative;
        top:20px;
        display:none;
        width:120px;
    
    }
    
    .sTetromino-image {
        position:relative;
        top:20px;
        display:none;
        width:120px;
    }
    
    .tTetromino-image {
        position:relative;
        top:20px;
        display:none;
        width:120px;
    }
    .jTetromino-image {
        position:relative;
        top: 20px;
        display:none;
        width:120px;
        
    }
    .oTetromino-image {
        position:relative;
        top: 20px;
        display:none;
        width:120px;
        
    }
    
    .lTetromino-image {
        position:relative;
        top: 20px;
        display: block;
        width:120px;
        
    }

    

    
}

@media only screen and (max-width: 320px){
    .grid{
        height:250px;
        width: 125px;
        line-height: 250px;
    }

    .grid-buttons {
        width:125px;
        flex-wrap: wrap;
 
    }
    .buttons {
        width: 125px;

        justify-content:space-around ;
        display: flex;
    }

    
}


